$transicion1seg:transition-duration 1s;

$colorverdesuave:color rgb(203, 231, 161);

$colorverdeoscurito:color rgb(107, 179, 139);

$verdeoscuro:rgb(107, 179, 139);

$verdeclaro:rgb(203, 231, 161);

$medida2rem:2rem;

//creo que puse lo mas improtante que puen ser los colores para cambiar en un futuro pero no veo oportunidad de utilizarlo mas por lo menos en un proyecto asi tan chico